@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

body {
    @apply bg-[#DEEFF7];
    @apply font-sans;

}
/* :root{
    --primary-main: #03345D;
    --primary-dark: #02213B;
    --primary-light: #044E8B;

    --secondary-main: #48A3D0;
    --secondary-light: #6DB5D9;
    
    --tertiary-main: #1F6A9E;
    --tertiary-dark: #1B5B88;
    --accent-light: #DEEFF7;
    --accent-bright: #9FD356;
} */
html,
body,
#app {
    height: 100%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}